# Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/

# Environment
.env
env/
venv/
movie_env/
movie_env2/

# OS
.DS_Store

# Database
*.sqlite3
*.db

# Archives
*.zip
*.rar

# Model files (can be large and exceed GitHub 100MB limit)
models/*.pkl
*.pkl
